@model E_PayRoll.ViewModels.TeacherListViewModel
@Html.ValidationSummary(true, "", new { @class = "text-danger" })

@{
    ViewBag.Title = "Create Teacher";
    Layout = "~/Views/Shared/DashboardLayout.cshtml";
}

<h2>Create Teacher</h2>

<div class="row">
    <div class="col-md-8 offset-md-2 col-lg-7 offset-lg-3">
        @using (Html.BeginForm("AddTeacher", "School", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div id="section1">
                <h4>👤 Personal Information</h4>
                <div class="row">
                    <div class="col-md-4">
                        @Html.LabelFor(m => m.Teacher!.FirstName)
                        @Html.TextBoxFor(m => m.Teacher!.FirstName, new { @class = "form-control", id = "FirstName" })
                        @Html.ValidationMessageFor(m => m.Teacher!.FirstName, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-4">
                        @Html.LabelFor(m => m.Teacher!.MiddleName)
                        @Html.TextBoxFor(m => m.Teacher!.MiddleName, new { @class = "form-control", id = "MiddleName" })
                        @Html.ValidationMessageFor(m => m.Teacher!.MiddleName, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-4">
                        @Html.LabelFor(m => m.Teacher!.LastName)
                        @Html.TextBoxFor(m => m.Teacher!.LastName, new { @class = "form-control", id = "LastName" })
                        @Html.ValidationMessageFor(m => m.Teacher!.LastName, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-4">
                        @Html.LabelFor(m => m.Teacher!.Gender)
                        @Html.DropDownListFor(m => m.Teacher!.Gender, new SelectList(new[] { "Male", "Female", "Other" }), "Select Gender", new { @class = "form-control", id = "Gender" })
                        @Html.ValidationMessageFor(m => m.Teacher!.Gender, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-4">
                        @Html.LabelFor(m => m.Teacher!.DateOfBirth)
                        @Html.TextBoxFor(m => m.Teacher!.DateOfBirth, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date", id = "DateOfBirth" })
                        @Html.ValidationMessageFor(m => m.Teacher!.DateOfBirth, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-4">
                        <label for="PhotoFile">Photo</label>
                        <input type="file" id="PhotoFile" name="PhotoFile" class="form-control" accept="image/*" />
                        @* No validation for optional file *@
                    </div>
                </div>
                <br />
                <button type="button" class="btn btn-primary" onclick="showNext('section2')">Next</button>
            </div>

            <div id="section2" style="display:none;">
                <h4>🏫 Professional Details</h4>
                <div class="row">
                    <div class="col-md-4">
                        @Html.LabelFor(m => m.Teacher!.EmployeeId)
                        @Html.TextBoxFor(m => m.Teacher!.EmployeeId, new { @class = "form-control", id = "EmployeeId" })
                        @Html.ValidationMessageFor(m => m.Teacher!.EmployeeId, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-4">
                        @Html.LabelFor(m => m.Teacher!.Department)
                        @Html.TextBoxFor(m => m.Teacher!.Department, new { @class = "form-control", id = "Department" })
                        @Html.ValidationMessageFor(m => m.Teacher!.Department, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-4">
                        @Html.LabelFor(m => m.Teacher!.Subjects)
                        @Html.TextBoxFor(m => m.Teacher!.Subjects, new { @class = "form-control", placeholder = "e.g., Math, Science", id = "Subjects" })
                        @Html.ValidationMessageFor(m => m.Teacher!.Subjects, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-4">
                        @Html.LabelFor(m => m.Teacher!.Designation)
                        @Html.TextBoxFor(m => m.Teacher!.Designation, new { @class = "form-control", id = "Designation" })
                        @Html.ValidationMessageFor(m => m.Teacher!.Designation, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-4">
                        @Html.LabelFor(m => m.Teacher!.DateOfJoining)
                        @Html.TextBoxFor(m => m.Teacher!.DateOfJoining, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date", id = "DateOfJoining" })
                        @Html.ValidationMessageFor(m => m.Teacher!.DateOfJoining, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-4">
                        <label for="CVFile">CV / Resume</label>
                        <input type="file" id="CVFile" name="CVFile" class="form-control" accept=".pdf,.doc,.docx,.png" />
                        @* No validation for optional file *@
                    </div>
                </div>
                <br />
                <button type="button" class="btn btn-primary" onclick="showNext('section3')">Next</button>
            </div>

            <div id="section3" style="display:none;">
                <h4>🔐 Account Details</h4>
                <div class="row">
                    <div class="col-md-4">
                        @Html.LabelFor(m => m.Username)
                        @Html.TextBoxFor(m => m.Username, new { @class = "form-control", id = "Username", autocomplete = "username" })
                        @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-4">
                        @Html.LabelFor(m => m.Password)
                        <div class="input-group">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", id = "Password", autocomplete = "new-password" })
                            <button type="button" class="btn btn-outline-secondary" tabindex="-1" onclick="togglePassword('Password', this)">
                                <span class="fa fa-eye"></span>
                            </button>
                        </div>
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-4">
                        @Html.LabelFor(m => m.ConfirmPassword)
                        <div class="input-group">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", id = "ConfirmPassword", autocomplete = "new-password" })
                            <button type="button" class="btn btn-outline-secondary" tabindex="-1" onclick="togglePassword('ConfirmPassword', this)">
                                <span class="fa fa-eye"></span>
                            </button>
                        </div>
                        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-4">
                        @Html.LabelFor(m => m.Teacher!.LanguagePreference)
                        @Html.DropDownListFor(m => m.Teacher!.LanguagePreference, new SelectList(new[] { "English", "Nepali" }), "Select Language", new { @class = "form-control", id = "LanguagePreference" })
                        @Html.ValidationMessageFor(m => m.Teacher!.LanguagePreference, "", new { @class = "text-danger" })
                    </div>
                </div>
                <br />
                <button type="submit" class="btn btn-success">Submit</button>
            </div>
        }
    </div>
</div>

@section Scripts {
    <script>
        function showNext(sectionId) {
            document.getElementById(sectionId).style.display = 'block';
            window.scrollTo({ top: document.getElementById(sectionId).offsetTop - 50, behavior: 'smooth' });
        }
        function togglePassword(inputId, btn) {
            var input = document.getElementById(inputId);
            var icon = btn.querySelector('span');
            if (input.type === "password") {
                input.type = "text";
                icon.classList.remove('fa-eye');
                icon.classList.add('fa-eye-slash');
            } else {
                input.type = "password";
                icon.classList.remove('fa-eye-slash');
                icon.classList.add('fa-eye');
            }
        }
        window.onload = function () {
            @if (TempData["SuccessMessage"] != null)
            {
                <text>
                alert('@TempData["SuccessMessage"]');
                </text>
            }
            @if (TempData["ErrorMessage"] != null)
            {
                <text>
                alert('@TempData["ErrorMessage"]');
                </text>
            }
        }
    </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
